dbr==9.6.20
Flask==2.3.2
Flask_Cors==4.0.0
numpy==1.24.3
opencv_contrib_python==4.7.0.72
Pillow==9.5.0
pylibdmtx==0.1.10
pyzbar==0.1.9
Requests==2.31.0
aspose_barcode_for_python_via_net==24.10